@import "normalize";
@import "compass/css3";

$maxWidth:				48em;
$sans: 					'Open Sans', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$black:					#555;
$white:					#fff;
$orange:				#bf5105;
$grayDark:				#ddd;

@mixin break() {
    @media only screen and (max-width: 40em) { @content; }
}

/* Toolkit */
*, :before, :after {
	@include box-sizing(border-box);
	@include transition(all .2s ease-in);
}

::moz-selection {
	background: $orange;
	color: $black;
	text-shadow: none;
}

::selection {
	background: $orange;
	color: $black;
	text-shadow: none;
}

/* Typography */
a, a:visited {
	color: $orange;
	text-decoration: none;
}

a:hover, a:focus, a:active {
	text-decoration: underline;
}

h1, h2, h3 {
	font-weight: normal;
	line-height: 110%;
}

h1 {
	margin: 0 0 .25em;
}

h2 {
	margin: 0;
	font-size: 1.25em;
}

h3 {
	@include break() {
		margin-bottom: 0;
	}
	margin: 0;
	font-size: 1.1em;
}

p, ul {
	margin-top: .25em;
	line-height: 125%;
}

blockquote {
	margin: -.5em 0 0 2.5em;
}

/* Layout */
body {
	background: $white;
	color: $black;
	font-weight: 300;
	font-family: $sans;
	text-rendering: optimizeLegibility;
}

#wrapper {
	margin: 0 auto;
	padding: 1em;
	max-width: $maxWidth;
	width: 100%;
}

aside {
	display: block;
	margin-bottom: 1em;
	padding: .5em 1em;
	background: $grayDark;
	background: rgba($grayDark, .5);
	text-align: center;
}

header {
	@include break() {
		float: none;
		width: 100%;
		text-align: center;
	}
	float: left;
	width: 48%;
	text-align: left;
	p {
		margin-bottom: 0;
	}
}

.lead {
	@include break() {
		float: none;
		margin-top: 1.5em;
		width: 100%;
		text-align: center;
	}
	float: right;
	width: 48%;
	text-align: right;
	font-style: italic;
	font-size: 1.1em;
}

dl {
	margin-top: 1.5em;
	dt {
		@include break() {
			float: none;
			clear: none;
			margin: 1em 0 .5em;
			padding: 0 0 .25em;
			width: 100%;
			border-right: none;
			border-bottom: 1px solid $grayDark;
			text-align: center;
			font-size: 1.5em;
		}
		float: left;
		clear: both;
		margin: 0 2% .5em 0;
		padding: 0 1% 3em 0;
		width: 15%;
		border-right: 1px solid $grayDark;
		text-align: right;
		font-size: 1.25em;
		line-height: 110%;
	}
	dd {
		@include break() {
			float: none;
			width: 100%;
		}
		float: right;
		margin: 0 0 1em;
		width: 83%;
	}
}

hgroup {
	@include break() {
		display: block;
	}
	display: inline-block;
}

.meta {
	@include break() {
		float: none;
	}
	float: right;
	color: lighten($black, 20%);
	font-style: italic;
	line-height: 140%;
}

@media print {
	@import "print";
}